.container {
  background-color: beige;
  padding-top: 24px;
}

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.profileImg {
  border-radius: 100%;
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
}
